@charset "utf-8";


/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }


  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }



  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
   vertical-align: baseline;
   position: relative;
   font-size: 55%;
   line-height: 0;
 }

 sup { top: -.7em; }

 sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/* ======= Your Styling Goes Below ======= */
* {
  list-style-type: none;
  text-decoration: none;
}

.wrapper {
  width: 97%;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  padding:15px;
  background-color:#f1f1f1;
}

header .wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

nav ul a {
  color:black;
  font-family: sans-serif;
  font-size: 25px;
  text-transform: capitalize;
}

nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

h1 { 
  margin-top: 78px;
  margin-bottom: 44px;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider span{
  font-family: sans-serif;
  font-size: 20px;
  opacity: 0.8;
}

.main {
  display: flex;
  justify-content: space-around;
}

.price {
  border: 1px solid #eee;
  flex-basis: 30%;
  list-style-type: none;
}

h2 {
  margin-bottom: 35px;
  font-family: sans-serif;
  font-size: 31px;
  text-align: center;
}

.pricing-plans span {
  margin-bottom: 106px;
  display: block;
  font-size: 20px;
  text-align: center;
}

.button {
  padding: 10px 25px;
  border: none;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  color: black;
  background-color:red;
}

.price {
  border: 1px solid #eee;
  list-style-type: none;
}

.price:hover { box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2) }

#pro { background: gray; }

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price a {
  color:white;
  font-family: sans-serif;
  font-weight: bold;
}

.price li {
  padding: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}


input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  margin: 5px 0 19px 0;
  display: inline-block;
  background: transparent;
}

.contact-us {
  padding: 10px;
  background-color: white;
}

.contact-us h2 {
  margin-top: 99px;
  margin-bottom: 114px;
}

.registerbtn {
  width: 100%;
  padding: 16px 20px;
  border: none;
  margin: 8px 0;
  background-color:black;
  color: white;
  cursor: pointer;
  font-size: 20px;
  opacity: 0.9;
}

.registerbtn:hover { opacity: 1;}

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: red;
  color: white;
  text-align: center;
}


.what-we-offer ul {
  display: flex;
  margin-bottom: 102px;
}

.what-we-offer h3{
  padding:15px;
  font-size: 33px;
  font-family: sans-serif;
  text-transform: capitalize;
}

.design { 
  background: #f1f1f1;
  padding:40px;
}

.marketing { 
  background: #bbbbbb;
  padding:40px;
}

.consultation { 
  background:#616161; 
  color:white;
  padding:40px;
}

.promises {
  background: #000000; 
  color:white;
  padding:40px;
}

header a:hover { color: red; }
.what-we-offer p { padding:19px; }
.slider-image img { display:none; }
.slider-image li:first-of-type img { display: block; }